<form #form="ngForm" (ngSubmit)="submit(form)" (keydown.enter)="$event.preventDefault()" class="card card-load mb-0">
  <div class="modal-header">
    <h4>Histórico</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    
  <div class="modal-body">
    <div class="direct-chat-messages">
      <div class="direct-chat-msg">
        <div class="direct-chat-infos clearfix">
          <span class="direct-chat-name float-left">23 Jan 2:00 pm</span>
        </div>
        <div class="direct-chat-text">
          Is this template really for free? That's unbelievable!
        </div>
      </div> 
    </div>
  </div>

  <div class="modal-footer">
    <div class="input-group">
      <input type="text" name="message" placeholder="Digite aqui ..." class="form-control">
      <span class="input-group-append">
        <button type="button" class="btn btn-primary" [disabled]="loading">
          <i class="far fa-paper-plane"></i>
        </button>
      </span>
    </div>  
  </div>
  <div class="card-loader" *ngIf="loading"><i class="fas fa-sync-alt anim-rotate"></i></div>
</form>