<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Lista de Categorias</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <app-table 
                        [cols]="columns" 
                        [data]="dados"
                        [module]="'categoria'"
                        [titleBtn]="'Nova Categoria'"
                        [rows]="15"
                        [globalFields]="['id_categoria', 'categoria', 'subcategoria']"
                        [loading]="loading"
                        [filter]="false"
                        (crudTable)="crudInTable($event)"></app-table>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
    <p-toast position="bottom-center" key="bc"></p-toast>
</div>
<!-- Content Wrapper. Contains page content 
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Lista de {{ title | titlecase }}</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card" [ngClass]="{'card-load': loading}">
                        <div class="card-header">
                            <div class="card-title">
                                <button type="button" class="btn btn-primary mr-2" (click)="openForm('cadastrar')">
                                    <i class="fas fa-plus"></i> Nova Categoria
                                </button>
                            </div>
                            <div class="card-tools">
                                <div class="input-group input-group-sm inputSearch">
                                    <input type="text" name="table_search" class="form-control float-right" [(ngModel)]="term" placeholder="Pesquisar...">
                
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive p-0" style="height: 100%;">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th scope="col">#ID</th>
                                        <th scope="col">Categoria</th>
                                        <th scope="col">Subcategoria</th>
                                        <th scope="col">Ação</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let dado of dados | filter:term">
                                    <tr>
                                        <th scope="row">#{{ dado.id_categoria }}</th>
                                        <td>{{ dado.categoria }}</td>
                                        <td>{{ dado.subcategoria }}</td>
                                        <td>
                                            <button class="btn btn-warning btn-sm mr-3" title="Editar" (click)="openForm('alterar', dado.id_categoria)">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger btn-sm" title="Excluir" (click)="delete(dado.id_categoria)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="dados.length == 0">
                                    <tr>
                                        <td colspan="4">Não há Categorias no momento</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-loader" *ngIf="loading"><i class="fas fa-sync-alt anim-rotate"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p-toast position="bottom-center" key="bc"></p-toast>
</div>
-->