<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Formas de Pagamentos</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card" [ngClass]="{'card-load': loading}">
                        <div class="card-header">
                            <div class="card-title">
                                <button type="button" class="btn btn-primary mr-2" (click)="openForm('cadastrar')">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <div class="card-tools">
                                <div class="input-group input-group-sm inputSearch">
                                    <input type="text" name="table_search" class="form-control float-right" [(ngModel)]="term" placeholder="Pesquisar...">
                
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0" style="height: 100%;">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th scope="col">#ID</th>
                                        <th scope="col">Descrição</th>
                                        <th scope="col">Taxa</th>
                                        <th scope="col">Parcelamento</th>
                                        <th scope="col">Observação</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Ação</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let dados of dataSource | filter:term">
                                    <tr>
                                        <th scope="row">#{{ dados.id }}</th>
                                        <td>{{ dados.descricao }}</td>
                                        <td>{{ dados.taxa }}</td>
                                        <td>{{ dados.parcelamento }}</td>
                                        <td>{{ dados.observacao }}</td>
                                        <td>{{ dados.status }}</td>
                                        <td>
                                            <button class="btn btn-warning btn-sm mr-3" title="Editar" (click)="openForm('alterar', dados.id)">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger btn-sm" title="Excluir" (click)="delete(dados.id)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="dataSource.length == 0">
                                    <tr>
                                        <td colspan="7">Não há formas de pagamentos no momento</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-loader" *ngIf="loading"><i class="fas fa-sync-alt anim-rotate"></i></div>
                    </div>
                  <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
</div>